@using WebBookStore.ViewModel

@model BookViewModel
<link href="~/css/Home.css" rel="stylesheet" type="text/css"/>

<div class="container">
        <div id="thumb">
        </div>
    <div class="booksDestaques">
        <div class="container">
            <p>@Model.Categories.CategoryName</p>
            <div class="row">
                @foreach(var book in Model.Books)
                {
                    <partial name="_BooksResume" for="@book"/>
                }

            </div>
        </div>

    </div>
</div>



