@using WebBookStore.ViewModel
@model BookViewModel
<link href="~/css/Home.css" rel="stylesheet" type="text/css"/>
@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div>
        <div id="thumb">
        </div>
    </div>
    <div class="booksDestaques">
        <div class="container">
            <p>Ficção</p>
            <div class="row">
                @foreach (var books in Model.Books)
                {
                        <partial name="_BooksResume" for="@books"></partial>
                }

            </div>
        </div>

    </div>
</body>



