
:root {
    --Main-color: rgb(13, 58, 139);
}
.banner{
    margin-top: 20px;
    width:220px;
    border: 1px solid white;
    padding-left: 10px;
    padding-top:20px;
    border-radius: 5px;
    box-shadow: gray 0px 10px 20px;
}
.banner:hover {
   transition: 1.5s;
   box-shadow: var(--Main-color) 0px 10px 30px;
   cursor: pointer;
        
}


.title {
    color:dark;
    font-weight: bold;
    padding-top: 2px;
    font-size: 15px
}
.price {
    font-weight: bold;
    font-size:20px;
}
img{
    margin:0 auto;
    display:block;
    border: 0px solid white;
    border-radius: 3px;
}
.bookContainer {
    border: 1px solid white;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: var(--Main-color) 0px 0px 20px;
    padding: 30px;
}
button {
    border: 2px solid var(--Main-color);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: var(--Main-color);
}
    button:hover {
        border: 2px solid white;
        background-color: var(--Main-color);
        color: white;
    }
.Active {
    background-color: var(--Main-color);
    color: white;
}
.Inactive {
    background-color: white;
    border: 2px solid var(--Main-color);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: var(--Main-color);
}
#description{
    display:none;
    width: 130vh;
    margin-top: 30px;
    background-color: rgb(234, 233, 233);
    padding: 15px 30px;
    border-radius: 10px;
}
#Specifications {
    margin-top: 30px;
    display: table;
}
.login-container {
    margin: 20vh auto;
    padding: 20px;
    width: 60vh;
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: var(--Main-color) 0px 0px 20px;
}
.login-container button{
    margin-top: 10px;
    float: right;
}
.login-container label{
   margin-top: 5px;
}


